CertificateMonitorEJB/rootwsdl_importedwsdl_1_KeystoreService_KeystoreServiceApi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://sap.com/aii/tpm/internal/api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sap.com/aii/tpm/internal/api/">
  <UsingPolicy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/aii/tpm/internal/api/" version="1.0">
      <xs:element name="GetKeystoreCertificates" type="tns:GetKeystoreCertificates"/>
      <xs:element name="GetKeystoreCertificatesResponse" type="tns:GetKeystoreCertificatesResponse"/>
      <xs:element name="TPMException" type="tns:TPMException"/>
      <xs:complexType name="GetKeystoreCertificates">
        <xs:sequence>
          <xs:element minOccurs="0" name="KeystoreName" type="xs:string"/>
          <xs:element minOccurs="0" name="CertificateAlias" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetKeystoreCertificatesResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KeystoreCertsList" type="tns:Certificate"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Certificate">
        <xs:sequence>
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="viewName" type="xs:string"/>
          <xs:element minOccurs="0" name="aliasName" type="xs:string"/>
          <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="sigAlgoName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TPMException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="suppressed" type="tns:throwable"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="throwable">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="stackTrace" nillable="true" type="tns:stackTraceElement"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="stackTraceElement">
        <xs:sequence/>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetKeystoreCertificatesIn">
    <wsdl:part element="tns:GetKeystoreCertificates" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetKeystoreCertificatesOut">
    <wsdl:part element="tns:GetKeystoreCertificatesResponse" name="GetKeystoreCertificatesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetKeystoreCertificatesFault">
    <wsdl:part element="tns:TPMException" name="TPMException"/>
  </wsdl:message>
  <wsdl:portType name="KeystoreServiceApi">
    <wsdl:operation name="GetKeystoreCertificates" parameterOrder="parameters">
      <wsdl:input message="tns:GetKeystoreCertificatesIn"/>
      <wsdl:output message="tns:GetKeystoreCertificatesOut"/>
      <wsdl:fault message="tns:GetKeystoreCertificatesFault" name="TPMException"/>
    </wsdl:operation>
  </wsdl:portType>
  
  
</wsdl:definitions>
